# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
target/classes
target/messages
target/maven-status
target/generated-sources/
out
gen
src/test/
default.properties
